{% extends "./base.html" %}
{% block content %}

<div class="row new-q-header">
	<div class="col-md-5">
		<h2>Personal settings</h2>
	</div>
	<div class="col-md-7 error-log">
		U miss some input field!
	</div>
</div>
<img src="/uploads/{{user.avatar}}" alt="..." class="img-circle">
{{user.nick}}
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="row">
	<div class="col-md-6">
		<div class="form-group row">
  			<label for="inputEmail3" class="col-md-3 col-form-label signup-filds control-label">{{form.login.label}}</label>
  			<div class="col-md-9">
   				{{form.login}}
 			 </div>
		</div>
	<div class="form-group row">
  <label for="example-text-input" class="col-md-3 col-form-label signup-filds">{{form.nick.label}}</label>
  <div class="col-md-9">
    {{form.nick}}
  </div>
</div>
<div class="form-group row">
  <label for="example-email-input" class="col-md-3 col-form-label signup-filds">{{form.email.label}}</label>
  <div class="col-md-9">
    {{form.email}}
  </div>
</div>
<div class="form-group row">
  <label for="example-password-input" class="col-md-3 col-form-label signup-filds">{{form.password.label}}</label>
  <div class="col-md-9">
    {{form.password}}
  </div>
</div>
<div class="form-group row">
  <label for="example-password-input" class="col-md-3 col-form-label signup-filds">{{form.repPassword.label}}</label>
  <div class="col-md-9">
    {{form.repPassword}}
  </div>
</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
		    <label for="exampleInputFile">{{form.avatar.label}}</label>
		    {{form.avatar}}
		    <p class="help-block">Example block-level help text here.</p>
		</div>
	</div>
</div>
<div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
</div>
<button type="submit" class="btn btn-success">Save change</button>
</form>
{% endblock %}